{% extends 'main/layout.html' %}

{% block title %}Мороженое{% endblock %}

{% block content %}
    <div class="features">
        <h1>Классификация и виды мороженного</h1>
        <p>Мороженое – это главное летнее лакомство. Оно представляет собой сладкую замороженную массу с различными вкусами и начинками.
        Основа любого мороженого – это молоко или молочные продукты, а вот виды мороженого могут быть самыми разнообразными</p>
        <a href=""><button class="btn btn-warning">GitHub с кодом</button></a>
    </div>

{% endblock %}